[buildout]
parts =
  py

[py]
recipe = zc.recipe.egg
eggs =
  ${gevent:egg}
  twisted
interpreter = py

[gevent]
recipe = zc.recipe.egg:custom
egg=gevent
include-dirs =
    ${libevent:location}/include
    ${libev:location}/include
library-dirs =
    ${libevent:location}/lib
    ${libev:location}/lib
rpath =
    ${libevent:location}/lib
    ${libev:location}/lib

[libevent]
recipe = zc.recipe.cmmi
url = https://github.com/downloads/libevent/libevent/libevent-2.0.18-stable.tar.gz

[libev]
recipe = zc.recipe.cmmi
url = http://dist.schmorp.de/libev/libev-4.11.tar.gz
